@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --main-transition: 0.2s;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  padding: 15px;
  background-color: #fbf8f8;
  width: 100%;
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
.logo a {
  color: rgb(28, 176, 255);
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
nav.navbar {
  display: none;
}
nav a {
  text-decoration: none;
  color: rgb(28, 176, 255);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  transition: var(--main-transition);
}
nav a:hover {
  color: rgb(57, 131, 234);
}
header .icon {
  display: none;
  width: fit-content;
  cursor: pointer;
}
section.main {
  padding: 100px 200px;
}
@media (max-width: 667px) {
  nav {
    display: none;
  }
  nav.navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    width: calc(100% + 40px);
    transition: var(--main-transition);
  }
  nav.navbar a {
    display: inline-block;
    background-color: #f0f0f1;
    padding: 20px 30px;
    text-align: center;
    margin: -1px;
    transition: var(--main-transition);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  nav.navbar a:hover {
    background-color: #ccc;
    transform: translateX(10px);
  }
  section.main {
    padding: 100px 20px;
    text-align: center;
  }
  header {
    justify-content: space-between;
  }

  header .icon {
    display: block;
    font-size: 40px;
  }
  .main .social-icons {
    margin: 20px auto;
  }
  .cards .content {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  footer h3 {
    font-size: 1em !important;
    margin-bottom: 10px;
  }
}
@media (min-width: 668px) {
  nav.navbar {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  section.main {
    background-position: right;
  }
}
@media (max-width: 380px) {
  section.main {
    padding: 100px 0px;
  }
  section.main h2 span {
    font-size: 2.5em;
  }
  section.main h3 {
    font-size: 1.6em;
  }
  .cards .content {
    margin-left: 5px;
  }
  .projects .content {
    margin-left: -20px;
  }
}
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  font-size: 3em;
  color: #4e9eff;
  font-weight: 600;
}
.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.main .main-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4em;
  color: #fff;
  background-color: rgb(28, 176, 255);
  padding: 10px 20px;
  border-radius: 9px;
  transition: var(--main-transition);
  border: 3px solid rgb(28, 176, 255);
}
.main .main-btn:hover {
  background-color: transparent;
  transform: scale(1.1);
}
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 20px;
}
.social-icons a {
  color: #fff;
  font-size: 1.7em;
  transition: var(--main-transition);
}
.social-icons a:hover {
  color: #4e9eff;
}
.cards {
  text-align: center;
  padding: 100px 50px;
}
.title {
  color: #4e9eff;
  font-size: 1.8em;
  margin-bottom: 40px;
}
.cards .content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.content .card {
  width: 320px;
  padding: 20px;
  height: 400px;
  border-radius: 7px;
  box-shadow: 0px 0px 20px 10px#CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
}
.content .card:hover {
  transform: scale(1.1);
}
.content .card p.gmail {
  margin-bottom: -180px;
}
.content .card div.gmail {
  margin-bottom: -150px;
}
.content .card h3.gmail {
  margin-bottom: -240px;
}
.content .card button {
  border: none;
  display: block;
  background-color: #4e9eff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 9px;
  font-size: 20px;
  margin-bottom: -20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.content .card button:hover {
  background-color: rgb(11 47 98);
}
.icon {
  width: 100%;
  font-size: 60px;
  color: #4e9eff;
}
.card h3 {
  color: #4e9eff;
  font-size: 1.8em;
  margin-top: -100px;
}
.card p {
  margin-top: -100px;
  font-size: 1.2em;
  line-height: 1.6;
  color: #777;
}
.projects {
  padding: 100px 50px;
  min-height: 100vh;
  background-color: #000016;
}
.projects img {
  max-width: calc(100% + 40px);
  margin-top: -20px;
  margin-left: -20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.projects .title {
  text-align: center;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.projects .content .project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  transition: 0.5s;
}
.projects .content .project-card:hover {
  transform: scale(1.1);
}
.project-card p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 10px;
}
.project-card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.project-card .info h3 {
  font-size: 1.2em;
}
.project-card .info a {
  text-decoration: none;
  color: #4e9eff;
  font-weight: bold;
  transition: var(--main-transition);
}
.project-card .info a:hover {
  color: rgb(57, 131, 234);
}

.contact .card h3 {
  width: 100%;
  margin-bottom: -120px;
}
.contact .card .icon {
  width: 100%;
  margin-bottom: -100px;
}
.contact .card p {
  font-size: 1.3em;
}
footer {
  padding: 20px;
  background-color: #000016;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  font-size: 1.4em;
  color: #fff;
}
footer h3 a {
  color: #4e9eff;
  text-decoration: none;
  transition: var(--main-transition);
}
footer h3 a:hover {
  color: #167fff;
}
footer .foot {
  margin-top: 0;
}
